params {
    samplesheet = "$projectDir/samplesheet_atac.csv"
    adapter_fa = '/projectnb/bf528/students/hbeakley/final-project-template-hrbeakley/refs/NexteraPE-PE.fa'

    genome = '/projectnb/bf528/students/hbeakley/final-project-template-hrbeakley/mm10_fasta/mm10.fa'
    gtf = '/projectnb/bf528/students/hbeakley/final-project-template-hrbeakley/mm10_fasta/mm10.ncbiRefSeq.gtf'

    dar_beds = '/projectnb/bf528/students/hbeakley/final-project-template-hrbeakley/DARs/*_peaks.bed'

    cDC1_gain = '/projectnb/bf528/students/hbeakley/final-project-template-hrbeakley/DARs/ko_up_1_peaks.bed'
    cDC1_loss = '/projectnb/bf528/students/hbeakley/final-project-template-hrbeakley/DARs/wt_up_1_peaks.bed'
    cDC2_gain = '/projectnb/bf528/students/hbeakley/final-project-template-hrbeakley/DARs/ko_up_2_peaks.bed'
    cDC2_loss = '/projectnb/bf528/students/hbeakley/final-project-template-hrbeakley/DARs/wt_up_2_peaks.bed'

    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        envWhitelist = 'TMPDIR,TMP,TEMP'
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true